<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<%= link_to 'Link rails', pages_contact_path, class: 'css_link' %>

<!-- De esta manera creamos links en rails la sintaxis es link_to 'entre comillas lo que dira el link' nombre de la ruta agregandole _path al final las 
rutas se pueden consultar con rake routes-->

<!-- Si queremos agregar una clase la sintaxis es class: los dos puntos sin espacio y nombre de la clase entre comillas -->

<!-- Investigar sintaxis sass Syntactically Awesome Style Sheets http://sass-lang.com/guide -->